$white: #ffffff;
$dark-bg-color: #28293E;
$dark-color: #391400;

$light-bg-color: #F2F2F2;

$primary: #EF6D58;
$primary-light: #F3D1BF;
$secondary: #B550F8;

$bg-color: #FDF0E9;

$border-color: #3A3C56;

//$color-mark: #4aa291;
$color-mark: $primary;
$color-link: $primary;