$white: #ffffff;
$dark-bg-color: #28293E;
$dark-bg-color: #0a192f;

// the dark text color on white background
$dark-color: #391400;
$dark-color: $white;


$primary: #EF6D58;
$primary: #1E959B;
$primary-light: #F3D1BF;
$secondary: #B550F8;

$bg-color-light: #FDF0E9;
$bg-color-light: #112240;

$border-color: #3A3C56;

//$color-mark: #4aa291;
$color-mark: $primary;
$color-link: $primary;