.content-center {
  display: grid;
  place-content: center;
  gap: 1ch;
}

.gentle-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.pop-n-plop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Grid system
@for $i from 1 through 12 {
  .grid-template-col-#{$i}{
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
  .span-#{$i} {
    grid-column: 1 / span #{$i};
  }
}
// flex
.flex{
  display: flex;
  &--sb{
    justify-content: space-between;

  }

  &--50{
    width: 50%;

  }

  &-left{
    margin-right: 120px;
  }
  &-right{

  }
  &--shrink-0{
    flex-shrink: 0;
  }
  &-accordion{
    width: 570px;
    flex-shrink: 0;
  }
}