.header{
  background: transparent;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .logo{
    line-height: 1;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  .menu{
    &.list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;
    }
    &__list-item{
      &:not(:last-child){
        margin-right: 40px;
      }
      .active{
        opacity: 0.7;
        cursor: auto;
      }
    }
    a{
      color: $white;
    }
  }
}