.header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s;
  background-color: $dark-bg-color;
  &.hidden {
    visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100%);
  }
  &.move{
    box-shadow: 0 10px 30px -10px $dark-bg-color;
    background-color: rgba($dark-bg-color, 0.97) ;
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  .menu{
    &.list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;
    }
    &__list-item{
      &:not(:last-child){
        margin-right: 40px;
      }
      .active{
        opacity: 0.7;
        cursor: auto;
      }
    }
    a{
      color: $white;
    }
  }
}