.contacts{
  &__form{
    background-image: url("../../public/img/map-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0;
  }
}