//.blog{
//  padding: 50px 0;
//}
//.articles{
//  font-size: 20px;
//}
//.__list{
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  width: 100%;
//}
.blog{
  padding: 100px 0;
}
.__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}