@import "styles/utilities/colors";
@import "styles/utilities/variables";

.card{
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  &:hover{
    transition: ease-in-out 0.5s;
    img{
      transform: scale(1.1);
    }
  }
  a{
    transition: ease-in-out 0.5s;
  }
}
.img{
  width: 100%;
  height: 100%;
  position: relative;
  &:hover,
  &:active,
  &:focus{
    opacity: 1;
  }
  img,a{
    transition: ease-in-out 0.5s;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
  &:after{
    position: absolute;
    background: rgba(49,49,49,.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
  }
}
.content{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $white;
}
.title{
  font-size: 22px;
  line-height: 1.5em;
}

.typed-date{
  font-size: 12px;
}

.category{
  text-transform: uppercase;
  font-size: 12px;
}