@for $i from 1 through 6 {
  .h#{$i}{
    text-transform: capitalize;
    &.light{
      color: $white;
    }
    &.dark{
      color: $dark-color;
    }
    &.center{
      text-align: center;
    }
    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
    }
  }
}
h1,.heading-1{
  font-size: 72px;
  line-height: 80px;
}
h2,.heading-2{
  font-size: 56px;
  line-height: 64px;
}
h3,.heading-3{
  font-size: 40px;
  line-height: 48px;
}
h4,.heading-4{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0.8em;
}
h5,.heading-5{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.text-big{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.btn {
  &--radius{
    border-radius: 14px;
    padding: 8px 14px 5px;
    line-height: 2em;
    font-size: 12px;
    display: inline;
    z-index: 5;
  }
  &--white{
    background-color: $white;
    background-color: $bg-color-light ;
    color: $dark-color;
  }
}

.social {
  font-size: 20px;
  svg{
    width: 20px;
  }
  &__list {
    display: flex;

  }
  &__item {
    &:not(:last-child){
      margin-right: 15px;
    }
  }
  &__item-link {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $primary;
  }

}