.footer{
  flex-shrink: 0;
}
.copyright{
  margin: 0;
  color: rgba(#fff, 0.64);
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  align-items: center;

  li{
    margin: 0;
    padding: 0 10px;
  }

}